@use "./variables.scss" as *;

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		//600px / 16 =37.5
		@media (max-width: 37.5em) {
			@content;
		} //600px
	}

	@if $breakpoint == tab-port {
		@media (max-width: 56.25em) {
			@content;
		} //900px
	}

	@if $breakpoint == tab-land {
		@media (max-width: 75em) {
			@content;
		} //1200
	}

	@if $breakpoint == big-desktop {
		@media (min-width: 112.5em) {
			@content;
		} //1800 +
	}
}

@mixin inputStyles {
	$min-input-width: 3rem;

	min-width: $min-input-width;
	// width: 2rem;
	width: 100% !important;
	min-height: 2.5rem;
	height: 3rem;

	flex-basis: $min-input-width;
	flex-shrink: 1;
	flex-grow: 1;

	background-color: $bg-color-1;
	color: white;

	border: none;
	outline: none;

	border-radius: $border-radius-sm;
	padding: 0.5rem;
}

@mixin iconButton {
	color: $text-color;
	width: 100%;
	height: 100%;
	margin: auto;
}

@mixin contextMenu {
	padding: 1rem 0;
	overflow: hidden;

	ul {
		list-style: none;

		li {
			font-size: 1.6rem;
			padding: 0.5rem 2rem;
			&:hover {
				cursor: pointer;
				background-color: $primary-color;
			}
		}
	}
}
