@use "./variables.scss" as *;

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		//600px / 16 =37.5
		@media (max-width: 37.5em) {
			@content;
		} //600px
	}

	@if $breakpoint == tab-port {
		@media (max-width: 56.25em) {
			@content;
		} //900px
	}

	@if $breakpoint == tab-land {
		@media (max-width: 75em) {
			@content;
		} //1200
	}

	@if $breakpoint == big-desktop {
		@media (min-width: 112.5em) {
			@content;
		} //1800 +
	}
}

@mixin inputStyles {
	min-width: 5rem;
	// width: 2rem;
	width: 100%;
	max-width: 10rem;
	min-height: 2.5rem;
	height: 2.5rem;

	flex-basis: 1rem;
	flex-shrink: 1;
	flex-grow: 0;

	background-color: $bg-color-1;
	color: white;

	border: none;
	outline: none;

	border-radius: $border-radius-sm;
	padding: 0.5rem;
}
