@font-face {
	font-family: "SquareFont";
	src:
		// url("/public/fonts/squarefont/SquareFont.woff2") format("woff2"),
		url("../assets/fonts/squarefont/SquareFont.woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	font-family: "SquareFont";
}
