$primary-color: #42d392;
$secondary-color: #6088f2;
$tertiary-color: #8960a0;

$bg-color-1: #222627;
$bg-color-2: #3c4142;
$bg-color-3: #484d4e;

$text-color: white;

$border-radius-df: 1rem;
$border-radius-sm: 0.5rem;

$canvas-border-radius: 5px;
$canvas-bg-color: $bg-color-1;

$gap-bg: 2rem;
$gap-df: 1rem;
$gap-sm: 0.5rem;
