$primary-color: #42d392;
$secondary-color: #d39242;
$tertiary-color: #9242d3;

$bg-color-1: #222627;
$bg-color-2: #3c4142;
$bg-color-3: #6d7475;
$bg-color-black: black;

$text-color: white;

$border-radius-bg: 1.6rem;
$border-radius-df: 1rem;
$border-radius-sm: 0.5rem;

$canvas-border-radius: 5px;
$canvas-bg-color: $bg-color-1;

$gap-bg: 2rem;
$gap-df: 1rem;
$gap-sm: 0.5rem;

$disabled-color-1: rgb(100, 100, 100);
$disabled-color-2: rgb(180, 180, 180);
